{% extends "base.html" %}

{% block content %}
<main>
    <div class="account-container">
        <section class="personal-data">
            <img src="../static/img/avatar.png" alt="">
            <div>
                <span>ИМЯ ПОЛЬЗОВАТЕЛЯ</span>
                <p>RWERRX</p>
            </div>
            <div>
                <span>EMAIL</span>
                <p>qwe@gamail.com</p>
            </div>
            <div>
                <span>ПАРОЛЬ</span>
                <p>............</p>
            </div>
            <a class="red-button edit-button">РЕДАКТИРОВАТЬ</a>

        </section>
        <section class="account-skills">
            <div class="skill">
                <p>PYTHON</p>
                <div class="progress-other">
                    <div class="progress-inner" data-percent="10"></div>
                </div>
            </div>
            <div class="skill">
                <p>JAVA</p>
                <div class="progress-other">
                    <div class="progress-inner" data-percent="45"></div>
                </div>
            </div>
            <div class="skill">
                <p>HTML</p>
                <div class="progress-other">
                    <div class="progress-inner" data-percent="90"></div>
                </div>
            </div>
            <div class="skill">
                <p>PYTHON</p>
                <div class="progress-other"><div  class="progress-inner" data-percent="10"></div></div>
            </div>
            <div class="skill">
                <p>JAVA</p>
                <div class="progress-other"><div  class="progress-inner" data-percent="45"></div></div>
            </div>
            <div class="skill">
                <p>HTML</p>
                <div class="progress-other"><div  class="progress-inner" data-percent="90"></div></div>
            </div>
            <div class="skill">
                <p>PYTHON</p>
                <div class="progress-other"><div  class="progress-inner" data-percent="10"></div></div>
            </div>
            <div class="skill">
                <p>JAVA</p>
                <div class="progress-other"><div  class="progress-inner" data-percent="45"></div></div>
            </div>
            <div class="skill">
                <p>HTML</p>
                <div class="progress-other"><div  class="progress-inner" data-percent="90"></div></div>
            </div>
            <div class="skill">
                <p>C++</p>
                <div class="progress-other"><div  class="progress-inner" data-percent="45"></div></div>
            </div>

        </section>


    </div>
</main>
{% endblock %}