<html lang="ru">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../static/styles/reset.css"/>
    <link rel="stylesheet" href="../static/styles/root.css"/>
    <link rel="stylesheet" href="../static/styles/fonts.css"/>
    <link rel="stylesheet" href="../static/styles/main.css"/>
    <!-- <title>Главная</title> -->
</head>

<body>
  <header>
      <div class="header-container container">
          <a href="{{url_for('index')}}" class="logo">SKILLHACK</a>
          {% if current_user.is_authenticated %}
          <nav>
              <a href="#">навыки</a>
              <a href="#">о нас</a>
              <a href="#">обратная связь</a>
              <a href="{{ url_for('profile_page') }}">профиль</a>
          </nav>
          {% else %}
          <nav>
              <a href="#">навыки</a>
              <a href="#">о нас</a>
              <a href="#">обратная связь</a>
              <a href="{{ url_for('login_page') }}">регистрация и вход</a>
          </nav>
          {% endif %}

      </div>
  </header>
  {% block content %}{% endblock %}
  <footer>
    <div class="header-container">
        <a href="{{url_for('index')}}" class="logo">SKILLHACK</a>
        <nav class="footer-nav">
            <a href="#">навыки</a>
            <a href="#">о нас</a>
            <a href="#">обратная связь</a>
            <!-- <a href="#">вход</a> -->
            <a href="{{url_for('login_page')}}">регистрация и вход</a>
        </nav>
        <div>
            <a href="">социальные сети</a>
        </div>
    </div>
    
    
</footer>


</body>

</html>