<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="../static/styles/promo-page.css">
    <title>Главная</title>

</head>
<!-- <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plaster&display=swap');
</style> -->

<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <img src="" alt="SKILLHACK">
            </div>
            <nav>
                <a href=""> О нас</a>
                <a href="">Регистрация</a>
                <a href="">Вход</a>
            </nav>
        </div>
    </header>
    <main>
        <div class="main-container">
            <img src="../static/img/main-img.avif" alt="Крутая картинка">
            <div class="right-column">
                <p>Крутой слоган БЛА БЛА БЛА ЛЯЛЯЛЯ </p>
                <a href="#">Посмотреть</a>
            </div>

        </div>
    </main>
</body>

</html>