<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/reset.css" />
    <link rel="stylesheet" href="../static/styles/root.css" />
    <link rel="stylesheet" href="../static/styles/fonts.css" />
    <link rel="stylesheet" href="../static/styles/main.css" />
</head>

<body>
    <header>
        <div class="header-container container">
            <a href="#" class="logo">SKILLHACK</a>
            <nav>
                <a href="#">навыки</a>
                <a href="#">о нас</a>
                <a href="#">обратная связь</a>
                <a href="#">вход</a>
                <a href="#">регистрация</a>
            </nav>
        </div>
    </header>
    <main>
        <div class="wrapper">
   
            <div class="authorization-forms">
                <div class="authorization-toggler">
                    <span>Регистрация</span>
                    <span class="toggle">toggle</span>
                    <span>Вход</span>
                </div>
                <section class="register">
                    <form>
                        <input type="text" placeholder="ВАШ НИКНЕЙМ">
                        <input type="email" placeholder="EMAIL">
                        <input type="password" placeholder="ВАШ ПАРОЛЬ">
                        <input type="password" placeholder="ПОВТОРИТЕ ПАРОЛЬ">
                        <input type="submit" value="ЗАРЕГИСТРИРОВАТЬСЯ">
                    </form>
                </section>  
    
    
                <section class="login hidden">
                    <form>
                        <input type="email" placeholder="EMAIL">
                        <input type="password" placeholder="ВАШ ПАРОЛЬ">
                        <input type="radio" placeholder="ЗАПОМНИТЬ МЕНЯ">
                        <a href="#">ВОЙТИ</a>
                    </form>
    
                </section>
            </div>
        </div>
        

    </main>




</body>

</html>