<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/reset.css" />
    <link rel="stylesheet" href="../static/styles/root.css" />
    <link rel="stylesheet" href="../static/styles/fonts.css" />
    <link rel="stylesheet" href="../static/styles/main.css" />
</head>

<body>
    <header>
        <div class="header-container container">
            <a href="#" class="logo">SKILLHACK</a>
            <nav>
                <a href="#">навыки</a>
                <a href="#">о нас</a>
                <a href="#">обратная связь</a>
                <a href="#">вход</a>
                <a href="#">регистрация</a>
            </nav>
        </div>
    </header>
    <main>
        <div class="wrapper">

            <div class="authorization-forms">
                <div class="authorization-toggler">
                    <span class="active-span">регистрация</span>
                    <label class="switch toggle">
                        <input type="checkbox">
                        <div class="slider"></div>
                    </label>
                    <span >вход</span>
                </div>
                <form class="register-form">
                    <input type="text" placeholder="ВАШ НИКНЕЙМ">
                    <input type="email" placeholder="EMAIL">
                    <input type="password" placeholder="ВАШ ПАРОЛЬ">
                    <input type="password" placeholder="ПОВТОРИТЕ ПАРОЛЬ">
                    <input id="registration-button" type="submit" value="ЗАРЕГИСТРИРОВАТЬСЯ" class="red-button">
                </form>
                <form class="login-form hidden" >
                    <input type="email" placeholder="EMAIL">
                    <input type="password" placeholder="ВАШ ПАРОЛЬ">
                    
                    <label class="checkbox style-b">
                        <input type="checkbox"/>
                        <div class="checkbox__checkmark"></div>
                        <div class="checkbox__body">ЗАПОМНИТЬ МЕНЯ</div>
                      </label>
                    
                    <input id="login-button" type="submit" value="ВОЙТИ" class="red-button">

                </form>


            </div>
        </div>


    </main>



    <script src="../static/js/script.js"></script>
</body>

</html>