{% extends "base.html" %}


{% block content %}
<main>
    <div class="wrapper">

        <div class="authorization-forms">
            <div class="authorization-toggler">
                <span class="active-span">регистрация</span>
                <label class="switch toggle">
                    <input type="checkbox">
                    <div class="slider"></div>
                </label>
                <span>вход</span>
            </div>
            <form class="register-form">
                {{ register_form.hidden_tag() }}
                {{ register_form.username(placeholder="ВАШ НИКНЕЙМ") }}
                {{ register_form.email(placeholder="EMAIL") }}
                {{ register_form.password(placeholder="ВАШ ПАРОЛЬ") }}
                {{ register_form.confirm_password(placeholder="ПОВТОРИТЕ ПАРОЛЬ") }}
                {{ register_form.registration_button(value="ЗАРЕГИСТРИРОВАТЬСЯ", class="red-button") }}
            </form>
            <form class="login-form hidden">
                {{ login_form.hidden_tag() }}
                {{ login_form.email(placeholder="EMAIL") }}
                {{ login_form.password(placeholder="ВАШ ПАРОЛЬ") }}

                <label class="checkbox style-b" for="remember_me">
                    {{ login_form.remember_me() }}
                    <div class="checkbox__checkmark"></div>
                    <div class="checkbox__body">ЗАПОМНИТЬ МЕНЯ</div>
                </label>

                <input id="login-button" type="submit" value="ВОЙТИ" class="red-button">

            </form>


        </div>
    </div>


</main>
{% endblock %}