@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plaster&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Noto+Sans+Mono:wdth,wght@62.5..100,100..900&display=swap');
@font-face {
  font-family: "Press Start 2P Regular";
  src: url("../fonts/press_start_2p_regular.eot");
  src: url("../fonts/press_start_2p_regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/press_start_2p_regular.woff2") format("woff2"),
    url("../fonts/press_start_2p_regular.woff") format("woff"),
    url("../fonts/press_start_2p_regular.ttf") format("truetype"),
    url("../fonts/press_start_2p_regular.svg#press_start_2p_regular") format("svg");
}
