:root {
  --dark: #17171a;
  --white: #e4d9b5;
  --red: #9e3633;
  --white-blue: #817598;
  --brown: #642a35;
  --yellow: #c09a6f;
  --white-red: #75514f;
  --white-green: #94b394;
  --dark-white-blue: #47495d;
  --var5: #515867;
  --one-wh: calc(1vh + 1vw);
  --dark-blue2: #014C67;
  --dark-green: #62AD94;
  --dark-purple: #7D4C61;
  --white-orange: #F19785;
  --pink: #DE99BC;
}
